.Gallery {

  &__container {

    .images {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .image {
        width: 230px;
        height: 130px;
        background-color: #F6F6F6;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-responsive {
          width: 210px;
          height: 110px;
        }

      }

    }

  }

}