//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

.Home {

  &__header {

    .main-header {
      font-family: RobotoCondensed, sans-serif;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 4px;
    }

    .sub-header {
      color: #828282;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      margin: 0 0 20px 0;
      .fa {
        margin-right: 2px;
      }
    }

  }

  &__content {

    .text {
      font-family: Roboto, sans-serif;
      color: #000000;;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
    }

    .quote {
      font-family: 'Times New Roman', serif;
      color: #999999;
      font-size: 16px;
      font-style: italic;
      text-align: left;
      margin: 40px 0 40px 26px;
      border-left: 4px solid #7ad6bb;
      padding-left: 14px;
    }

  }

}

