.Navigation {

  &__top {
    background: url(./images/bg.jpg) no-repeat 30% 80%;
    background-size: cover;
    height: 190px;
    width: 100%;
    border-bottom: 1px solid white;
  }

  &__bottom {
    background-color: #7ad6bb;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    .avatar {
      width: 133px;
      height: 133px;
      background-color: rgba(255,255,255,0.5);;
      border-radius: 50%;
      position: relative;
      top: -30px;
      left: 29px;
      display: flex;
      align-items: center;
      justify-content: center;

      &--image {
        height: 125px;
        width: 125px;
        border-radius: 50%;
      }
    }

    .links {
      position: relative;
      right: 0;
      margin-right: 22px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        margin-left: 15px;

        &:hover {
          cursor: pointer;
          span { color:orange; }
        }

        a {
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover, &:visited, &:active, &:focus { text-decoration: none; }
          &, &:visited { color: white; }
          &.active {
            height: 34px;
            width: 34px;
            border-radius: 50%;
            border: 1px solid white;
            color: white;
          }

          span { transform: scale(1.32); }

        }

      }

    }

  }

}